body {
    height:100vh;
    width: 100vw;
    background-color: #F5F8FF;
    /* background-color: #7299f3; */
    margin:0;
    font-family: "Inter", sans-serif;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.MainLayout{
    /* max-width: 1920px; */
    /* max-height:1080px; */
    height: inherit;
    display:grid;
    grid-template-columns: 21% 1fr;
    grid-template-rows: 10% 1fr;
    gap:6% 0;
    overflow: hidden;
}
header{
    /* background-color: #5089ec; */
    background-color: #F8F8F8;
    grid-column:1/3;
    grid-row:1/2;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header h1 span{
    color: #FF6767;
}
header .search{
    width:40%;
    position:relative;
    box-sizing: border-box;
}
header .search input{
    width: 100%;
    padding-left:15px;
    padding-top:11px;
    padding-bottom:10px;
    /* position:absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%); */
    border:none;
    border-radius: 8px;
    font-size: 13px;
    box-sizing: border-box;
    outline: none;
    
}
header button[id=search]{
    height: 100%;
    width: 2.25rem;
    background-color: #FF6767;
    position:absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: background-color 0.3s;  */
}

header button[id=search] img{
    width: 80%;
    filter:brightness(0) invert(1);
}
header .NotifCalDayAndDate{
    display:flex;
    gap: 30px;
}

header button[id=notification], header button[id=calendar] {
    height: 2.125rem;
    width: 2.125rem;
    background-color: #FF6767;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
header button[id=notification] img{
    width: 100%;
    filter:brightness(0) invert(1);
}
header button[id=calendar] img{
    width: 100%;
    filter:brightness(0) invert(1);
}
nav {
    background-color: #FF6767;
    border-radius:  0px 8px 0px 0px;
    height:100%;

    position: relative;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* left:-10%; */
    /* overflow: auto; */

    
}
nav ul {
    display:flex;
    width:100%;
    /* height: 100%; */
    flex-direction: column;
    align-items: center;
    gap:8px;
    padding:0;
    margin: 0;
    position:absolute;
    top: -43px;

} 
nav li {
    list-style-type:none;
    color:#FFFFFF;
    width:80%;
    flex: 1;
    /* min-height: 0; */

    border-radius: 0.875rem;
}
nav li:not(li.personalPref){
    display: flex;
    align-items: center;
    gap:10%;
    flex-wrap:wrap;
    /* gap:1.5rem; */
    /* background-color: aquamarine; */
    padding:0em 0 0em 1em;



}
/* nav li:not(li.personalPref) img{
    
    filter:brightness(0) invert(1);

} */
nav div#logout{
    position:absolute;
    bottom:8px;
    display:flex;
    align-items: center;
    width:80%;
    gap:1.5rem;
    color:#FFFFFF;
    /* background-color: aquamarine; */
    border-radius: .875rem;
    padding:0em 0 0em 1em;
}
.personalPref{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer;

    

}

.personalPref img{
    border-radius: 100%;
    width:86px;
    border:solid 2px #FFFFFF;
    
}

.personalPref [id="useremail"]{
    font-size:12px;
}
main {
    background-color:#F8F8F8;
}
.icons{
    height:1.5em;
    width:1.5em;
    filter:brightness(0) invert(1);
}
.reverseY{
    transform:rotateY(180deg);
}
nav li:not(li.personalPref):hover {
background-color: #ffffff7d;


}
nav div#logout:hover {
background-color: #ffffff7d;


}
