body {
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.SignIn {

    /* background-color: #1c70c4; */
    width:85%;
    height: auto;
    max-height: 1080px;
    max-width: 1920px;
    position: relative;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

} 
.repeated_pattern::before {
    content:"";
    position:fixed;
    inset:0; /*shorthand of top:0; bottom:0; right:0; left:0;*/
    background-image: url("../assets/images/background_repeated_pattern1.jpg");
    background-size: 600px 600px;
    opacity:0.15;
    z-index: 1;
    pointer-events: none; /*to access the input fields and buttons under the cover*/
}
.SignIn > img {
    height:auto;
    width: 50%;
    margin-right:5%;

   
}
.UserInput {
    /* background-color: aqua; */
    height:auto;
    width: 50%;
    /* margin-left:5%; */
    display:flex;
    flex-direction: column;
    gap: 1.5625rem;

   
}

.input-wrapper {
    position: relative;
    max-width:80%;
      /* background-color: #90ffae; */
    /* background-color: green; */
}
.input-wrapper > img {
  width:1.75rem;
  height:1.75rem;
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: 1.125rem;
  transform: translateY(-50%);
  color: #212427;

}

.input-wrapper > input {
  width: 100%;
  min-width:15rem;
  max-width: 40rem;
  height: 3.75rem;
  padding: 0 0 0 4rem; 
  /* margin: 0.7812rem 0rem; */
  font-size: 1rem;
  border-radius: 0.5rem;
  border:1px solid #212427;
  box-sizing: border-box;
  /* background-color: #FF9090; */
}
.font_styling{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    /* font-style: normal; */
}
h1.font_styling {
    font-size: 2.25rem;
}
.btn {
    width: 8.0625rem;
    height: 3.75rem;
    background-color: #FF9090;
    padding: 12px 24px;
    border-width: 0px;
    border-radius: 5px;
    color: white ;
    font-size: 16px;
}
.checkme {
    /* margin:1.5625rem 0rem; */
}

.checkme > input {
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 0;
    margin-right: 1.625rem; 
    cursor:pointer;
}

.UserInput > pre {
    /* margin-top: 4.1875rem; */
}
.UserInput > pre i {
    font-size: 1.75rem;
}
.UserInput > pre a {
    text-decoration: none;
    color:#008BD9;
}
.UserInput > pre a:hover {
    color:#5b0093;
}

.btn:hover {
    background-color: #ff4343;
    cursor:pointer;

}

@media screen and (max-width: 1300px) {
    .SignIn{
        flex-direction:column-reverse;
        width: 100%;
        height:100vh;
    }
    .SignUp > img{
        width: 50%;
    }
}

@media screen and (max-width: 950px) {

    input:not([type="checkbox"]) {
        height:2.8125rem;
        font-size: 0.9rem;
        padding-left:3.375rem;
        /* margin:0.34rem 0 ; */
        max-width:28.125rem;
    }
    .UserInput{
        gap:1.171875rem;
    }
    .input-wrapper > img{
        width: 1.3125rem;
        height: 1.3125rem;
    }
    .SignIn > img {
    width: 70%;
}
.btn {
    width:calc(0.75 * 8.0625rem);
    height:calc(0.75 * 3.75rem);
}
}


