body{
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    display:flex;
    justify-content: center;
    align-items: center;
}
.repeated_pattern::before {
    content:"";
    /*you have to put a suitable position for the element to appear*/
    position:fixed; 
    inset:0;

    background-image: url("../assets/images/background_repeated_pattern1.jpg");
    background-size:600px 600px;
    z-index: 1;
    opacity:0.15;
    pointer-events:none;
}
.SignUp{
    width:85%;
    height: auto;
    max-height: 1080px;
    max-width: 1920px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(17, 89, 89); */
    position:relative;
    

}
form img{
    width: 1.75rem;
    height: 1.75rem;
    /*absolute position relative 
    to the nearest positioned none
    statice ancester*/
    position:absolute;
    /*top 50% put the top line of img in the center of the parent*/
    top: 50%;
    left: 1.125rem;
    /*transform translate y put img above by 50% of img height 
    which make it at the center*/
    transform: translateY(-50%);

}
.SignUp div{
    position:relative;
    /* background-color: #FF9090; */
}
.SignUp > img{
    /* width:40%; */
    height:100%;
    /* background-color: aqua; */

}
form{
    /* background-color: green; */
    width: 70%;
    max-width: 700px;
    display:flex;
    flex-direction: column;
    gap:1.375rem;
    margin-left:0;

}
input:not([type="checkbox"]) {
    height:3.75rem;
    width:100%;
    border-radius: 0.5rem;
    padding-left:4.375rem;
    /* margin:0.6875rem 0 ; */
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    /*to make width 100% includes the padding + input size + width*/
    box-sizing: border-box;
}
input[type="checkbox"] {
    width:1.125rem;
    height:1.125rem;
}

.checkme > input{
    margin:0 1.625rem 0 0;
    cursor:pointer;
}
.btn {
    width:8.0625rem;
    height:3.75rem;
    border-radius: 0.5rem;
    border:0px solid;
    background-color:#FF9090;
    color:#F8F9FB;
    /* margin:1.125rem 0; */
    cursor:pointer;

}
.font_styling {
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
    color: #008BD9;
}
.btn:hover {
    background-color: #ff4343;
    
}
p > a:hover {
    color:#5b0093;
    
}

@media screen and (max-width: 1300px){
    .SignUp > img{
        width: 50%;


    }
}
@media screen and (max-width: 950px) {
    .SignUp {
        flex-direction:column;
        width: 100%;
        height:100vh;
    }
    input:not([type="checkbox"]) {
        height:2.8125rem;
        font-size: 0.9rem;
        padding-left:3.375rem;
        /* margin:0.34rem 0 ; */
        max-width:28.125rem;
    }
    form{
        gap:0.75rem;
    }
    form img{
    width: 1.3125rem;
    height: 1.3125rem;
}
    .SignUp > img{
        width:100%;

    }
}
@media screen and (max-height: 450px){
    .SignUp > img{
        width:auto;

    }
     
}
